body {
    background-image: url("../images/prism.png");
}

input {
    margin: 10px;
}

#timeRemain {
    text-align: center;
    font-weight: bold;
    color: red;
}

.jumbotron.text-center {
    background: black;
}